html {
    font-family: "Inter", system-ui, sans-serif;
}

body {
    margin: auto;
    max-width: 960px;
    background: #dddcd3;
}


select {
    padding: 2px;
    transform: translateY(-5px);
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #fffc32;
}

h1 {
    font-weight: 600;
}


h2 {
    font-weight: 500;
    text-align: left;
}

p {
    color: dimgrey;
    font-weight: 300;
}

h1 span {
    color: #fffc32;
}

.and-you-are {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    cursor: pointer;
}

.underlines {
    display: flex;
    flex-direction: row;
    pointer-events: none;
    bottom: -7px;
    left: 0;
}

details summary {
    background: #dddcd3;
}

details summary:hover {
    background: yellow;
}

details[open] summary {
  background: yellow;
}


details {
    background: yellow;
}

details div {
}

details svg {
    stroke-dasharray: 12px;
    animation: dash 3s linear infinite;
}

/* Weird way to create step animation instead of just adjusting the ease of the animation. */
@keyframes dash {
    1% {
        stroke-dashoffset: 0;
    }
    10% {
        stroke-dashoffset: 0;
    }
    11% {
        stroke-dashoffset: 10;
    }
    20% {
        stroke-dashoffset: 10;
    }
    21% {
        stroke-dashoffset: 20;
    }
    30% {
        stroke-dashoffset: 20;
    }
    31% {
        stroke-dashoffset: 30;
    }
    40% {
        stroke-dashoffset: 30;
    }
    41% {
        stroke-dashoffset: 40;
    }
    50% {
        stroke-dashoffset: 40;
    }
    51% {
        stroke-dashoffset: 50;
    }
    60% {
        stroke-dashoffset: 50;
    }
    61% {
        stroke-dashoffset: 60;
    }
    70% {
        stroke-dashoffset: 60;
    }
    71% {
        stroke-dashoffset: 70;
    }
    80% {
        stroke-dashoffset: 70;
    }
    81% {
        stroke-dashoffset: 80;
    }
    90% {
        stroke-dashoffset: 80;
    }
    91% {
        stroke-dashoffset: 90;
    }
    100% {
        stroke-dashoffset: 90;
    }
}
